/* BASE STYLES */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	color: #5E0525;
}

p {
	font-family: 'Lato', sans-serif;
}

a {
	color: #FC7C3D;
}

a:hover {
	color: #CE0027;
}

label {
	font-weight: normal;
}

.checkbox {
	margin-top: 0px;
}

.form-control {
	width: auto;
	display: inline;
}

/* HEADER & NAV */

nav {
	background: #EAAE4E;
	font-family: 'Oswald', sans-serif;
}

.navbar {
	border: 0px;
}

.nav > li > a {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #FFF;
}

.nav > li > a:hover, .nav > li > a:focus {
	background: #FC7C3D;
}

a.navbar-brand {
	color: #740025;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background-color: #FC7C3D;
}

.subhead {
	padding-top: 50px;
}

.icon-bar {
	background-color: #EAAE4E;
}

.navbar-toggle {
	background-color: #F6EFED;
}

/* HOME PAGE */

.home {
	background: #5E0525;
	text-align: center;
	position: relative;
	padding: 2em 0 2em 0;
}

.cogs {
	color: #740025;
	font-size: 4vw;
}

.home-header {
	color: #FFF;
	font-family: 'Oswald', sans-serif;
	font-size: 7vw;
	text-transform: uppercase;
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	margin: auto;
	letter-spacing: 0.1em;
}

.apps .col-md-4 {
	text-align: center;
	padding-top: 5%;
}

.apps i {
	color: #EAAE4E;
}

.apps p {
	font-family: 'Lato', sans-serif;
}

a.tile {
	display: block;
	padding: 1em;
}

a.tile:hover {
	background: #EEE;
	text-decoration: none;
}

a.tile p, a.tile p:hover {
	color: #333333;
}

a.tile:hover h1 {
	color: #FC7C3D;
}


/* FOOTER */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #DDD2CE;
	padding: 15px 5px;
	height: 50px;
}

/* USER GENERATOR */

.user {
	margin-bottom: 10px;
}

.user p {
	margin: 0;
	padding: 0;
}

.name {
	font-size: 1.2em;
}

.user {
	clear: both;

}

.users .user:not(:first-child) {
	padding-top: 10px;
}

.profile {
	font-style: italic;
}

.profilepic {
	width: 200px;
	float: left;
}

.userinfo-pic	{
	margin-left: 210px;
}

/* PASSWORD GENERATOR */

#newpassword fieldset {
	border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    margin-bottom: 10px;
}

#newpassword legend {
	border-bottom: 0px;
	font-size: 1em;
	margin-bottom: 0px;
	width: auto;
}

.password {
	text-align: center;
}

.password p {
    color: #CE0027;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0 0 20px 0;
}

.password p.caption {
	color: #333;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

.password-img {
	max-width: 500px;
}
    
